<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Ecom</h5>
                <p>
                    Your one-stop shop for all your needs. Explore our wide range of products and enjoy great deals!
                </p>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="{% url 'store' %}" class="text-dark">Store</a>
                    </li>
                    
                    <li>
                        <a href="{% url 'login' %}" class="text-dark">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}" class="text-dark">Register</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contact</h5>
                <p>
                    Email: support@ecom.com<br>
                    Phone: +1 234 567 890
                </p>
            </div>
        </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.1);">
        © 2023 Ecom. All rights reserved.
    </div>
</footer>
